<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Recomendação de Filmes</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
        <center>
            <img width="50%" src="{{ url_for('static', filename='imagens/imagem_site_1.png') }}" alt="Recomendador de Filme" />
        </center>
        <form id="preferencesForm">
        <label for="genero">Gênero:</label>
        <input
          type="text"
          id="genero"
          placeholder="Ex: Ação, Comédia, Drama"
          required
        />

        <label for="duracao">Duração:</label>
        <select id="duracao" required>
          <option value="indiferente">Indiferente</option>
          <option value="curto">Curto</option>
          <option value="longos">Longos</option>
        </select>

        <label for="ano">Década de Lançamento:</label>
        <select id="ano">
            <option value="">Selecione uma década ou deixe vazio</option>
            <option value="2020">2020</option>
            <option value="2010">2010</option>
            <option value="2000">2000</option>
            <option value="1990">1990</option>
            <option value="1980">1980</option>
            <option value="1970">1970</option>
            <option value="1960">1960</option>
            <option value="1950">1950</option>
            <option value="1940">1940</option>
        </select>

        <button type="submit">Buscar Filmes</button>
      </form>

      <div id="recommendations"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>